body {
    /* background-image: url('../images/vintage_minimalist_art-wallpaper-2560x1440.jpg'); */
    background-color: #221e1f;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
}

#menu ul {
    list-style:none;
    margin:0px;
    padding:3px;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid #203040;
    color: #5ea8c5;
    text-decoration: #BBBBBB;
}

#menu ul li a:hover {
    border: 1px solid #5ea8c5;
    box-shadow: inset 0px 0px 50px 50px #5ea8c5;
    color: #FFFFFF;
    -moz-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    -ms-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    transition: 1s;
    -webkit-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
}

.site-title {
    color: #5ea8c5;
    font-size: 30px;
    text-align: center;
}

.site-subtitle {
    color: #5ea8c5;
    font-size: 12px;
    text-align: center;
}

#grid_conteudo {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

#icones_cursos {
    align-items: center;
    display: inline;
    /* float: rigth; */
    /* left: -500px; */
    /* top: 25%; */
    /* width: 70%; */
}

#icones_cursos img {
    margin: 10px;
    max-width: 75px;
}

#icones-cursos a img:hover {
    box-shadow: inset 0px 0px 50px 50px #5ea8c5;
    /* -moz-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    -ms-transform: translateX(-5%) translateY(-5%) rotate(-3deg); */
    /* transform: translateX(-5%) translateY(-5%) rotate(-3deg); */
    transition: 1s;
    /* -webkit-transform: translateX(-5%) translateY(-5%) rotate(-3deg); */
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
}
  
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 3px;
    left: calc(0px);
    content: attr(data-tooltip);
    white-space: pre-line;
    word-break: normal;
    background-color: #5ea8c5;
    color: White;
    z-index: 10;
}
  
[data-tooltip]:hover:after {
    display: block;
}

#contato  {
    display: inline;
    font-size: 0px;
    /* position: fixed; */
    left: 0%;
    top: 25%;
    width: 20%;
}

.img-contato {
    background-color: #221e1f;
    max-width: 70px;
}

#contato ul {
    list-style:none;
    margin:0px;
    padding:0px;
    text-align: left;
}

#contato ul li img {
    /* border: 0.01px solid #203040; */
    border: 2px solid #203040;
	color: #FFF;
}

#contato ul li img:hover {
    box-shadow: inset 0px 0px 50px 50px #5ea8c5;
    -moz-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    -ms-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    transition: 1s;
    -webkit-transform: translateX(-5%) translateY(-5%) rotate(-3deg);
}

footer {
    color: #5ea8c5;
    font-size: 12px;
    margin-right: 0px;
    margin-left: inherit;
    margin-right: auto;
    padding-left: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
